body {
    background-image: url(https://w-dog.ru/wallpapers/2/4/329567419477439/metallicheskie-marina-dubaj-otrazhenie-chb.jpg);
}

.style-a {
    color: white;
    border: 1px solid grey;
    background-color: gray;
    text-decoration: none;
    border-radius: 20px;
}

.style-a:hover {
    background-color: rgb(206, 206, 206);
    color: blue;
    border: 1px solid rgb(206, 206, 206);
    transition: .6s;
}


.style-b {
    border: 1px dashed white;
    color: white;
    background-color: gray;
    text-decoration: none;
}

.style-b:hover {
    background-color: rgb(206, 206, 206);
    border: 1px solid yellow;
    transition: .2s;
}





                                                                    /* Для экранов шириной меньше 800 пикселей */
@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 575px) {
    .container {
        margin-top: 5px;
        padding-left: 5px;
        width: 550px;
    }

    h2 {
        margin-left: 150px;
    }

    .cards-1 {
        flex-direction: column;
        margin-left: 150px;
    }

    .cards-2 {
        flex-direction: column;
        margin-left: 150px;
    }

    .cards-3 {
        flex-direction: column;
        margin-left: 150px;
    }

   .card-5 {
   
   }



}











